BILLING_ACCOUNT_ID="123456677"	
AUTHORIZED_DOMAIN_NAMES="example.com"	
LOCATION="asia-south1"
AUTHORIZED_TEAM_FOLDERS='{"Team-3":"folders/12345664535","Team-4":"folders/51515136136","Team-Data":"folders/634624135626","Team-DevOps":"folders/516361531"}'
MAX_ALLOWED_PROJECTS_PER_USER=1
SERVICE_ACCOUNT_EMAIL="xyz@sandbox-master-project-ma.iam.gserviceaccount.com"
ORGANIZATION_ID="12343535636"
CLOUD_TASKS_DELETION_QUEUE_ID="projects/sandbox-master-project-ma/locations/asia-south1/queues/sandbox-project-deletion-tasks-queue"
CLOUDRUN_SERVICE_ID="projects/sandbox-master-project-ma/locations/asia-south1/services/gcp-sandbox-provisioner"